In [1]:
for e in list(range(65,91)):
    print(chr(e))

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z

In [2]:
a=[]
input_list = [1, 2, 3, 4, 4, 5, 6, 7, 7]
for e in input_list:
    if e % 2 == 0:
        a.append(e)
print(a)

[2, 4, 4, 6]

In [28]:
alpha_letter = list(map(chr,range(65,91)))
alpha_letter

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [23]:
# By using List COmprehension
b = [i for i in input_list if i % 2 == 0]
print(b)

c = [x**2 for x in input_list ]
print("Squares of the input list are:", c)

[2, 4, 4, 6]
Squares of the input list are: [1, 4, 9, 16, 16, 25, 36, 49, 49]

In [33]:
# 2,3 Mathematic Table in Python
for first in range(2,4):
    for second in range(1,11):
        print(f"{first} * {second} = {first * second}")

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [35]:
l = [22, 13, 45, 50, 98, 69, 43, 44, 1] # Add plus 1 if above 45 else add plus 5 using List Comprehension

c = [a+1 if a >= 45 else a + 5 for a in l]
c

[27, 18, 46, 51, 99, 70, 48, 49, 6]

In [50]:
a = 3
b = 2
print("{}*{}={}".format(a,b,a*b))

c = ["{} * {} = {}" for i in range(2,11) ]

3*2=6

In [8]:
a=[]
first_names = ["BlueRay ", "Upchuck ", "Lojack ",
"Gizmo ", "Do-Rag "]
last_names = ["Zzz", "Burp", "Dogbone", "Droop"]
for i in first_names:
    for j in last_names:
        a.append(i+j)
print(a)

['BlueRay Zzz', 'BlueRay Burp', 'BlueRay Dogbone', 'BlueRay Droop', 'Upchuck Zzz', 'Upchuck Burp', 'Upchuck Dogbone', 'Upchuck Droop', 'Lojack Zzz', 'Lojack Burp', 'Lojack Dogbone', 'Lojack Droop', 'Gizmo Zzz', 'Gizmo Burp', 'Gizmo Dogbone', 'Gizmo Droop', 'Do-Rag Zzz', 'Do-Rag Burp', 'Do-Rag Dogbone', 'Do-Rag Droop']

In [11]:
income = input("Please enter your salary: ")
year_sal = int(income)*12
print("Your annual income is ",year_sal)

Please enter your salary: 545
Your annual income is  6540

In [17]:
cleanest_cities = ["Cheyenne", "cheyenne", "Santa Fe", "santa fe", "Tucson", "tucson", "Great Falls", "great falls", "Honolulu", "honolulu"]
your_city = input("Please enter your city ")
b = your_city.lower()

for i in cleanest_cities:
    if b == i:
        print(i, " found in our country")

Please enter your city as

In [19]:
my_cats = ["Draco", "Bellatrix", "Voldemort"]
my_cats[0]

'Draco'

In [29]:
customer_29876 = {"first name": "David", "last name": "Elliott", "address": "4803 Wellesley St."}
jobs_to_do = ["Email","texting",'Call']

customer_29876["first name"] = "Muhammad Ahmed"
customer_29876

{'first name': 'Muhammad Ahmed',
 'last name': 'Elliott',
 'address': '4803 Wellesley St.'}

In [33]:
things_to_remember = {}
things_to_remember[0] = "The lowest number"
things_to_remember["a dozen"] = 12
del things_to_remember[0]
things_to_remember

{'a dozen': 12}

In [38]:
customer_29876 = {
"first name": "David",
"last name": "Elliott",
"address": "4803 Wellesley St.",
}
for i,j in customer_29876.items():
    print("The customer " + i + " is " + j)

The customer first name is David
The customer last name is Elliott
The customer address is 4803 Wellesley St.

In [34]:
customers = [
   {
     "customer id": 0,
     "first name":"John",
     "last name": "Ogden","address": "301 Arbor Rd.",
   },
   {
     "customer id": 1,
    "first name":"Ann",
    "last name": "Sattermyer",
    "address": "PO Box 1145",
  },
  {
    "customer id": 2,
    "first name":"Jill",
    "last name": "Somers",
    "address": "3 Main St.",
  },
]
customers

[{'customer id': 0,
  'first name': 'John',
  'last name': 'Ogden',
  'address': '301 Arbor Rd.'},
 {'customer id': 1,
  'first name': 'Ann',
  'last name': 'Sattermyer',
  'address': 'PO Box 1145'},
 {'customer id': 2,
  'first name': 'Jill',
  'last name': 'Somers',
  'address': '3 Main St.'}]

In [35]:
new_dictionary = {
"customer id":5,
"first name": "Waqas Shaikh",
"last name": "Pak",
"address": "Ghaxi Nagar",
}   

customers.append(new_dictionary)
customers

[{'customer id': 0,
  'first name': 'John',
  'last name': 'Ogden',
  'address': '301 Arbor Rd.'},
 {'customer id': 1,
  'first name': 'Ann',
  'last name': 'Sattermyer',
  'address': 'PO Box 1145'},
 {'customer id': 2,
  'first name': 'Jill',
  'last name': 'Somers',
  'address': '3 Main St.'},
 {'customer id': 5,
  'first name': 'Waqas Shaikh',
  'last name': 'Pak',
  'address': 'Ghaxi Nagar'}]

In [3]:
customer_29876 ={'first name': 'David',
 'last name': 'Elliott',
 'address': '4803 Wellesley St.',
 "Discount": ["loyalty Disc","Volume","Standar"]            }
customer_29876

{'first name': 'David',
 'last name': 'Elliott',
 'address': '4803 Wellesley St.',
 'Discount': ['loyalty Disc', 'Volume', 'Standar']}

In [6]:
if "brother_inlaw" in customer_29876["Discount"]:
    discount_amount = .30
elif "loyalty Disc" in customer_29876["Discount"]:
    discount_amount = .50
elif "Volume" in customer_29876["Discount"]:
     discount_amount = .70

In [20]:
#Check an item in a value pair of list and return its key value
mydict= {'fruits': ['banana', 'apple', 'orange'],
         'vegetables': ['pepper', 'carrot'], 
         'cheese': ['swiss', 'cheddar', 'brie']}
j = "banana"
for i in mydict.keys():
    if j in mydict[i]:
     print(i)

fruits

In [25]:
mydict= {'fruits': ['banana', 'apple', 'orange'],
         'vegetables': ['pepper', 'carrot'], 
         'cheese': ['swiss', 'cheddar', 'brie']}
item_checked = input('Please enter an item: ')
item_check = item_checked.lower()
for i in mydict.keys():
    if item_check in mydict[i]:
        print(i)
    else:
        print("Not found any key of this item")

Please enter an item: banana
fruits
Not found any key of this item
Not found any key of this item

In [50]:
customer = { 0:{
  'first name': 'John',
  'last name': 'Ogden',
  'address': '301 Arbor Rd.'},
 1:{
  'first name': 'Ann',
  'last name': 'Sattermyer',
  'address': 'PO Box 1145'},
  2:{
  'first name': 'Jill',
  'last name': 'Somers',
  'address': '3 Main St.'},
  5:{
  'first name': 'Waqas Shaikh',
  'last name': 'Pak',
  'address': 'Ghaxi Nagar'}}
print(customer )
print(customer[2]["first name"])

{0: {'first name': 'John', 'last name': 'Ogden', 'address': '301 Arbor Rd.'}, 1: {'first name': 'Ann', 'last name': 'Sattermyer', 'address': 'PO Box 1145'}, 2: {'first name': 'Jill', 'last name': 'Somers', 'address': '3 Main St.'}, 5: {'first name': 'Waqas Shaikh', 'last name': 'Pak', 'address': 'Ghaxi Nagar'}}
Jill

In [56]:
# Merged two dict

first = {"Name":"Muhammad Ahmed" , "Age":25 , "Education":"Bachelor"}
second = {"Name":"Abdul Basit" , "Age":26 , "Education":"Bachelor"}
merge = first.update(second)
first

{'Name': 'Abdul Basit', 'Age': 26, 'Education': 'Bachelor'}

In [65]:
f = 2
l = 4
total = f+l
print(total)

# COnverting above into function

def addition():
    first = 5
    second = 2
    total = first + second
    print(total)

addition()

addition()

6
7
7

In [77]:
def semifinalist(first_team="Paskitan",second_team="India"):
    print("the first two semifinalist are: " + first_team + " \n "+ second_team)
semifinalist()

the first two semifinalist are: Paskitan
 India

In [88]:
def cl(name,age=23):
    print("My name is "+ name + " and age is " + str(age))
cl("Asif")

My name is Asif and age is 23

In [4]:
# function
def name(first,second):
    full_name = first + " " + second
    return print(full_name)
name("ahmed","Khan")

ahmed Khan

In [8]:
#Check if middle  name exist in argument or not
def name(first,second,middle=""):
    if middle:
        full_name = first + " " + middle + " " + second
        return full_name
    else:
        full_name = first + " " + second
        return full_name
        
a = name("Muhammad","Ahmed","Khaan")
print(a)

Muhammad Khaan Ahmed